<!doctype css>

body {
   background-image: url(https://s14-eu5.ixquick.com/cgi-bin/serveimage?url=http%3A%2F%2Ft0.gstatic.com%2Fimages%3Fq%3Dtbn%3AANd9GcT53hscCylKDroiOlkLCHoyXHxDFJXXBC_3Gc6fkjaYDP_y_p3R&sp=1006148fe87e1f0393cabc489fb7107e&anticache=377519);
   font-family: Arial, sans-serif;
   height: 100%;
   margin: 0;
   text-align: center;
   width: 100%;
}

h1 {
    
}

.trash {
    
}

.contact {
    
}
